<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><span>Change Password</span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-user fa-fw"></i> User ID: <span data-bind="text: userId"></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <p><label>Password rules:</label><i> must be between 6 and 32 characters long and contain three of the following 4 items: upper case letter, lower case letter, a symbol, a number</i></p>
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input type="password" id="password" class="form-control" data-bind="value: password, hasFocus: true" autocomplete="off">
                                <span>&nbsp;</span>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" id="confirmPassword" class="form-control" data-bind="value: confirmPassword" autocomplete="off">
                                <span>&nbsp;</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-primary" data-bind="click: changePassword"> Submit </button>
                </div>

                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->

</div>

