<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><span>User Profile</span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-user fa-fw"></i> User Detail: <span data-bind="text: userId"></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <form role="form">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input id="firstName" class="form-control" data-bind="value: firstName" >
                                <span>&nbsp;</span>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input id="lastName" class="form-control" data-bind="value: lastName">
                                <span>&nbsp;</span>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" class="form-control" data-bind="value: email">
                                <span>&nbsp;</span>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <input id="phoneNumber" class="form-control" data-bind="value: phoneNumber">
                                <span>&nbsp;</span>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form role="form">
                            <div class="form-group">
                                <label for="dateFormat">Date Format</label>
                                <select id="dateFormat" class="form-control" data-bind="options: availableDateFormats,
                                                                        optionsCaption: 'Choose Date Format...',
                                                                        optionsText: 'text',
                                                                        optionsValue: 'code',
                                                                        value: dateFormat">
                                </select>
                                <span>&nbsp;</span>
                            </div>
                            <div class="form-group">
                                <label for="timeFormat">Time Format</label>
                                <select id="timeFormat" class="form-control" data-bind="options: availableTimeFormats,
                                                                        optionsCaption: 'Choose Time Format...',
                                                                        optionsText: 'text',
                                                                        optionsValue: 'code',
                                                                        value: timeFormat">
                                </select>
                                <span>&nbsp;</span>
                            </div>
                            <div class="form-group">
                                <label for="timeZone">Time Zone</label>
                                <select id="timeZone" class="form-control" data-bind="options: availableTimeZones,
                                                                        optionsCaption: 'Choose Time Zone...',
                                                                        value: timeZone">
                                </select>
                                <span>&nbsp;</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-right">
                    <!--button type="submit" class="btn btn-primary" data-bind="click: createNewUser">New User</button-->
                    <button type="button" class="btn btn-primary" data-bind="click: saveProfileChanges"> Submit </button>
                    <button type="button" class="btn btn-default" data-bind="click: cancelEdit"> Cancel </button>
                </div>

                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->

</div>

