<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><span data-bind="text: !isNewUser() ? 'Edit User' : 'Create User' ">Edit User</span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-user fa-fw"></i> User Detail: <span data-bind="text: userID"></span>
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" style="margin-top:-3px" data-bind="click: cancelEdit"><i class="fa fa-arrow-circle-o-left fa-fw" style="font-size:15px"></i> Return To User List  </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <form role="form">
                            <div class="form-group">
                                <label for="userID">User ID</label>
                                <input id="userID" class="form-control" data-bind="value: userID, disable: !isNewUser()">
                            </div>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input id="firstName" class="form-control" data-bind="value: firstName" >
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input id="lastName" class="form-control" data-bind="value: lastName">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" class="form-control" data-bind="value: email">
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <input id="phoneNumber" class="form-control" data-bind="value: phoneNumber">
                            </div>
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select id="status" class="form-control" data-bind="enable: !isNewUser(), options: availableStatus,
                                                                        optionsText: 'text',
                                                                        optionsValue: 'code',
                                                                        optionsCaption: 'Choose...',
                                                                        value: status">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="userType">User Type</label>
                                <select id="userType" class="form-control" data-bind="options: availableTypes,
                                                                        optionsText: 'text',
                                                                        optionsValue: 'code',
                                                                        optionsCaption: 'Choose...',
                                                                        value: userType">
                                </select>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-md-6">
                        <form role="form">
                            <div class="form-group">
                                <label for="dateFormat">Date Format</label>
                                <select id="dateFormat" class="form-control" data-bind="options: availableDateFormats,
                                                                        optionsCaption: 'Choose Date Format...',
                                                                        optionsText: 'text',
                                                                        optionsValue: 'code',
                                                                        value: dateFormat">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="timeFormat">Time Format</label>
                                <select id="timeFormat" class="form-control" data-bind="options: availableTimeFormats,
                                                                        optionsCaption: 'Choose Time Format...',
                                                                        optionsText: 'text',
                                                                        optionsValue: 'code',
                                                                        value: timeFormat">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="timeZone">Time Zone</label>
                                <select id="timeZone" class="form-control" data-bind="options: availableTimeZones,
                                                                        optionsCaption: 'Choose Time Zone...',
                                                                        value: timeZone">
                                </select>
                            </div>
                            <fieldset>
                                <legend>Select User Roles</legend>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" data-bind="foreach: availableRoles">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" data-bind="checkedValue: $data.code, checked: $parent.roles">
                                                    <span data-bind="text: text"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" data-bind="visible: createBy">
                            <label>Created By: </label>
                            <span data-bind="text: createBy"></span> <span data-bind="dateText: createDate"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" data-bind="visible: modifiedBy">
                            <label>Last Modified By: </label>
                            <span data-bind="text: modifiedBy"></span> <span data-bind="dateText: modifiedDate"></span>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <!--button type="submit" class="btn btn-primary" data-bind="click: createNewUser">New User</button-->
                    <button type="button" class="btn btn-primary" data-bind="click: saveChanges, visible: hasPrivilege('User-Edit')"> Submit </button>
                    <button type="button" class="btn btn-warning" data-bind="click: confirmResetPwd, visible: hasPrivilege('User-Edit') && !isNewUser()"> Reset Pasword </button>
                    <button type="button" class="btn btn-default" data-bind="click: cancelEdit"> Cancel </button>
                </div>

                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->

</div>

