<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><span>Engagement Status</span></h1>
        <p class="signoff">Here you can view your Oracle Lifecycle Migration Service engagements. Click on the tiles below to interact with a specific service engagement.</p>
        <hr>
    </div>
    

    
       <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading"> <i class="fa fa-cloud-upload fa-fw"></i> Enagement Status <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> Filter <span class="caret"></span> </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li><a href="#">New Enagements</a> </li>
                  <li><a href="#">Scoped Enagements</a> </li>
                  <li><a href="#">In Progress Enagements</a> </li>
                  <li><a href="#">Completed Enagements</a> </li>
                  <li class="divider"></li>
                  <li><a href="#">All Enagements</a> </li>
                </ul>
              </div>
              <!-- /.btn-group -->
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> Order <span class="caret"></span> </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li><a href="#">Enagement Status</a> </li>
                  <li><a href="#">Creation Date</a> </li>
                                    <li><a href="#">Title</a> </li>                                  
                  <li class="divider"></li>
                  <li><a href="#">Default Filtering</a> </li>
                </ul>
              </div>
              <!-- /.btn-group -->
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> Save/Export <span class="caret"></span> </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li><a href="#">PDF</a> </li>
                  <li><a href="#">Email</a> </li>
                  <li><a href="#">Share Link</a> </li>
                </ul>
              </div>
              <!-- /.btn-group --> 
            </div></div>
          
          <!-- /.panel-heading -->
          <div class="panel-body">
            
            <div class="col-md-4 col-lg-2 dashboard-panel"> <a data-bind="click: function() {selectEngagement(1450)}" title="Engagement_id=1450" class="btn btn-success btn-lg btn-block" role="button"><i class="fa fa-check-circle fa-fw icon-40"></i> <br>
              Completed<br>
              <span class="fs-sm">Rabo Bank Migration Payroll</span></a> 
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
           <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#/migration/migration_service" title="Engagement_id=1451" class="btn btn-success btn-lg btn-block" role="button"><i class="fa fa-check-circle fa-fw icon-40"></i> <br>
              Completed<br>
              <span class="fs-sm">Rabo Bank Migration CRM</span></a> 
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
              <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#/migration/migration_service" title="Engagement_id=1452"  class="btn btn-success btn-lg btn-block" role="button"><i class="fa fa-check-circle fa-fw icon-40"></i> <br>
              Completed<br>
              <span class="fs-sm">Rabo Bank Migration CRM</span></a> 
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
             
              <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#/migration/migration_service" title="Engagement_id=1453"  class="btn btn-default btn-lg btn-block" role="button"><i class="fa fa-cloud-upload fa-fw icon-40"></i> <br>
              New<br>
              <span class="fs-sm">Rabo Bank Migration Prod Server1</span></a> 
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
            <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#" class="btn btn-info btn-lg btn-block" role="button"><i class="fa fa-question-circle fa-fw icon-40"></i> <br>
              Scoped<br>
              <span class="fs-sm">Rabo Bank Migration Test Server</span></a> 
              
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
            <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#" class="btn btn-default btn-lg btn-block" role="button"><i class="fa fa-cloud-upload fa-fw icon-40"></i> <br>
              New<br>
              <span class="fs-sm">Rabo Bank Migration Prod Server1</span></a> 
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
            <div class="clearfix"></div><br>

            
            <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#" class="btn btn-default btn-lg btn-block" role="button"><i class="fa fa-check-circle fa-fw icon-40"></i> <br>
              New<br>
              <span class="fs-sm">Rabo Bank Migration Prod Server68</span></a> 
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
           <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#" class="btn btn-success btn-lg btn-block" role="button"><i class="fa fa-check-circle fa-fw icon-40"></i> <br>
              Completed<br>
              <span class="fs-sm">Rabo Bank Migration Prod Server2</span></a> 
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
            <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#" class="btn btn-info btn-lg btn-block" role="button"><i class="fa fa-question-circle fa-fw icon-40"></i> <br>
              Scoped<br>
              <span class="fs-sm">Rabo Bank Migration Prod Server3</span></a> 
              
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
            <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#" class="btn btn-default btn-lg btn-block" role="button"><i class="fa fa-cloud-upload fa-fw icon-40"></i> <br>
              New<br>
              <span class="fs-sm">Rabo Bank Migration Prod Server</span></a> 
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
             <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#" class="btn btn-default btn-lg btn-block" role="button"><i class="fa fa-cloud-upload fa-fw icon-40"></i> <br>
              New<br>
              <span class="fs-sm">Rabo Bank Migration Prod Server</span></a> 
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
             <div class="col-md-4 col-lg-2 dashboard-panel"> <a href="#" class="btn btn-default btn-lg btn-block" role="button"><i class="fa fa-cloud-upload fa-fw icon-40"></i> <br>
              New<br>
              <span class="fs-sm">Rabo Bank Migration Prod Server</span></a> 
              <!-- /.btn --> 
            </div>
            <!-- /.dashboard-panel -->
            
            <div class="clearfix"></div>
            
          </div>
          <!-- /.panel-body --> 
        </div>
        <!-- /.panel --> 
      </div>
      <!-- /.col-lg-12 -->

    
</div>