<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header"><span>Engagement Services</span></h1>
        <p>Page to view individual Engagements</p>
    </div>
    
    <!-- /.col-lg-12 -->
    <div class="row">
        <div class="col-md-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-html5 fa-fw"></i>Engagement Services</div>
                <div class="panel-body min-height-200">
                    <h6>select the Engagement...</h6> 
                    
                </div>
            </div>
        </div> 
        
    </div> <!-- <div class="row"> -->
    
</div>
