<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><span>Event Logs</span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-gears"></i><span>&nbsp;Event Search</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Target UUID</label>
                        <input type="text" id="targetUuid" class="form-control" data-bind="value: targetUuid" >
                    </div>
                    <div class="form-group">
                        <label>Event GUID</label>
                        <input type="text" id="eventGuid" class="form-control" data-bind="value: eventGuid" >
                    </div>
                    <div class="form-group">
                        <label>Start Date & Time</label>
                        <input class="form-control" type="text" data-bind="dateTimePicker: startDate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Event Source</label>
                        <input type="text" id="eventSource" class="form-control" data-bind="value: eventSource" >
                    </div>
                    <div class="form-group" style="visibility:hidden">
                        <label>Future Use</label>
                        <input type="text" id="futureUse" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>End Date & Time</label>
                        <input class="form-control" type="text" data-bind="dateTimePicker: endDate">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-success btn-sm" data-bind="click: search, enable: true">Search</button>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    <!--div class="panel panel-default" style="width: 100%" data-bind="visible: showEventList"-->
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-users fa-fw"></i>Events Found</div>
        <div class="panel-body">
            <div style="width: 100%" data-bind="koGrid: eventsGrid"></div>
        </div>
    </div>
</div>

