<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><span>Event Details</span></h1>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-gears"></i><span>&nbsp;Event Details</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Target UUID</label>
                        <br/><text data-bind="text: targetUuid"/>
                    </div>
                    <div class="form-group">
                        <label>Event GUID</label>
                        <br/><text data-bind="text: eventGuid"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Event Source</label>
                        <br/><text data-bind="text: eventSource"/>
                    </div>
                    <div class="form-group">
                        <label>Created At</label>
                        <br/><text data-bind="text: createdAt"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-gears"></i><span>Message Map</span>
        </div>
        <div class="panel-body">
            <div data-bind="foreach: msgMap">
                <text data-bind="text: $data"/><br/>
            </div>                    
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-gears"></i><span>Response Map</span>
        </div>
        <div class="panel-body">
            <div data-bind="foreach: respMap">
                <text data-bind="text: $data"/><br/>
            </div>                    
        </div>
    </div>
    <button type="button" class="btn btn-default" data-bind="click: doneDetails">Done</button>
</div>

