<div id="footerPusher">&nbsp;</div>
<footer class="pull-right" id="footer">
  <ul>
    <li><span class="oracle-copyright">&copy; 2014 Oracle Corporation</span></li>
    <li>- <a rel="nofollow" target="_blank" title="Oracle Advanced Customer Support Services" href="http://www.oracle.com/us/support/advanced-customer-services/overview/index.html">Oracle ACS</a></li>
    <li>- <a rel="nofollow" target="_blank" title="Subscribe" href="http://www.oracle.com/us/syndication/subscribe/index.html">Subscribe</a></li>
    <li>- <a rel="nofollow" target="_blank" title="Careers" href="http://www.oracle.com/us/corporate/careers/index.html">Careers</a></li>
    <li>- <a rel="nofollow" target="_blank" title="Contact Us" href="http://www.oracle.com/us/corporate/contact/index.html">Contact Us</a></li>
    <li>- <a rel="nofollow" target="_blank" title="Site Maps" href="http://www.oracle.com/us/sitemaps/index.html">Site Maps</a></li>
    <li>- <a rel="nofollow" target="_blank" title="Legal Notices" href="http://www.oracle.com/us/legal/privacy/overview/index.html">Legal Notices</a></li>
    <li>- <a rel="nofollow" target="_blank" title="Terms of Use" href="http://www.oracle.com/us/legal/terms/index.html">Terms of Use</a></li>
    <li>- <a rel="nofollow" target="_blank" title="Privacy" href="http://www.oracle.com/us/legal/privacy/overview/index.html">Privacy</a></li>
    <li>- <a rel="nofollow" target="_blank" title="Oracle Mobile" href="http://www.oracle.com/us/corporate/mobile-application/index.html">Oracle Mobile</a></li>
  </ul>
</footer>
<!-- /#footer -->


<!-- Modal Preloader -->
<div class="modal fade" id="modalPreloader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog">
        <div class="modal-content text-center modal-bg-hide">
            <button class="btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin icon-40"></i></button>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /Modal Preloader -->